<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      body {
        background: url('https://baliteakrecycle.com/storage/app/uploads/public/570/099/82b/57009982b6bf3199983272.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
